<body>
<div class = 'column is-full'>
<%= form_tag(search_path, :method => "get", class: "start-search") do %>
  <input type="text" name="search" id="Поиск" placeholder="Поиск"/>
  <input type="date" name="date_in" id="date_in" placeholder="Дата заезда"/>
  <input type="date" name="date_out" id="date_out" placeholder="Дата выезда"/>
  <input type="submit" name="commit" value="Найти" class = "button is-primary"/>
<% end %>
</div>
</body>
